html, body {
    background-color: #F0EFE7;
}
.background-header {
    height: 35vh;
    width: 100%;
    background-image: url("/img/banner.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
}
.content {
    padding-top: 22vh;
}
.required {
    color: #d93025;
}

.card.card-base {
    border-top: solid 8px #ffd69a;
}

/* buttons */
.btn.clear-button.mobile{
    width: 100%;
}
.btn.btn-primary {
    background-color: #c17300;
}

.btn.btn-primary:hover {
    background-color: #db8200;
}

/* radio buttons */
[type="radio"]:checked + span:after, 
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
    border: 2px solid #c17300;
} 
[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
    background-color: #c17300;
}
/* inputs */
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    color: #c17300 !important;
    border-bottom: 1px solid #c17300;
    -webkit-box-shadow: 0 1px 0 0 #c17300;
    box-shadow: 0 1px 0 0 #c17300;
}
input:not([type]):focus:not([readonly])+label, 
input[type=text]:not(.browser-default):focus:not([readonly])+label, 
input[type=password]:not(.browser-default):focus:not([readonly])+label, 
input[type=email]:not(.browser-default):focus:not([readonly])+label, 
input[type=url]:not(.browser-default):focus:not([readonly])+label, 
input[type=time]:not(.browser-default):focus:not([readonly])+label, 
input[type=date]:not(.browser-default):focus:not([readonly])+label, 
input[type=datetime]:not(.browser-default):focus:not([readonly])+label, 
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, 
input[type=tel]:not(.browser-default):focus:not([readonly])+label, 
input[type=number]:not(.browser-default):focus:not([readonly])+label, 
input[type=search]:not(.browser-default):focus:not([readonly])+label, 
textarea.materialize-textarea:focus:not([readonly])+label {
    color: #c17300 !important;
}

[type="radio"]:not(:checked)+span, [type="radio"]:checked+span {
    padding-left: 25px;
    line-height: 20px;
}

.ldBar-label {
    font-size: 0.55em;
    padding-bottom: 5px;
    color: #212121;
}
.ldBar {
    right: 10px !important;
}
@media screen and (max-width: 320px) {
    .ldBar {
        right: 0px !important;
    }
}

.selectable-item label {
    color: #212121;
}

.progress .determinate {
    background-color: #c17300 !important;
}

.card > .image-container {
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.card.selected {
    border: 2px solid #c17300;
}

.detail-image-container {
    height: 0;
    width: 50%;
    padding-bottom: 50%;
    margin-left: 25%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    margin-top: 20px;
}

.detail-image-container.medium {
    width: 33.33%;
    padding-bottom: 33.33%;
    margin-left: 33.33%;
}

.detail-image-container.large {
    width: 20%;
    padding-bottom: 20%;
    margin-left: 40%;
}

.sample-image {
    width: 40vw;
    margin-top: 15px;
    margin-bottom: 15px;
}
@media screen and (min-width: 600px) {
    .sample-image {
        width: 18vw;
    }
}
@media screen and (min-width: 992px) {
    .sample-image {
        width: 13vw;
    }
}


/* helpers */
.margin-top-0 {
    margin-top: 0px; 
}
.margin-bottom-0 {
    margin-bottom: 0px; 
}

/* photo upload */
.fullscreen-container {
    min-height: 30vh;
    width: 100%;
}
.file-list-container{
    /* display: none; */
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}
.file-list-container .upload-counter {
    color: #9e9e9e;
}
.file-list-container .upload-counter.required {
    color: #d93025;
}
.file-uploader {
    padding: 5px;
    min-height: 30vh;
    width: 100%;
    border-radius: 8px;
    transition: 0.3s;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}
.file-uploader .progress{
    display: none;
}
.empty-files-alert {
    text-align: center;
    position: relative;
    width: 100%;
    padding-top: 10vh;
}

.file-uploader.dragging {
    border: 2px dashed rgba(100,100,100,0.30);
    background-color: #e0e0e0;
}
.file-uploader .collection {
    border-color: #e0e0e0;
}
.file-uploader .collection>.collection-item {
    background-color: #f5f5f5;
    border-color: #e0e0e0;
}
.file-uploader .collection>.collection-item .title {
    word-break: break-word;
    color: #212121;
    display: block;
    width: 90%;
}
.file-uploader .collection>.collection-item .details {
    color: #9e9e9e;
}
.file-uploader .collection>.collection-item .secondary-content {
    color: #757575;
}
.file-uploader .collection>.collection-item .secondary-content:hover {
    color: #b1b1b1;
}
.empty-files-alert .message {
    color: rgba(0,0,0,.50);
}
.clear-button{
    color: rgba(0,0,0,.80);
}
.clear-button:hover{
    background-color: rgba(0, 0, 0, 0.25);
}
.file-uploader.detail-items {
    min-height: auto;
}
.deliveryPoint {
    margin-bottom: 10px;
    padding-left: 25px;
}

/* collection */
.collection.fb-collection > .collection-header {
    color: white;
    background-color: #c17300;
}
.collection.fb-collection > .collection-item {
    padding: 10px 20px;
}


/*Animations*/
@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}