<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flor Barrau Fotografía</title>
    <link rel="shortcut icon" type="image/png" href="/img/favicon.ico" />
    <meta name="theme-color" content="rgb(158, 145, 98)">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/lib/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="background-header"></div>
    <div class="content">
        <div class="row">
            <div class="col s12 col m8 offset-m2">
                <div class="card card-base">
                    <div class="card-content">
                        <h4>Nuevo Pedido</h4>
                        <p class='required'>*Obligatorio</p>
                        <br>
                        <h5>Añadí color! (+$20)</h5>
                        <p>Fondos con diseños pesonalizados para tus fotos ❤ (+$20)</p>
                        <div class="center-align">
                            <img src="/img/background_sample.jpg" class="sample-image">
                        </div>
                        <h6>Seleccioná el fondo que mas te guste! <span class="required">*</span></h6>
                        <div class="row">
                            <% backgrounds.forEach(function(background, backgroundIndex){ %>
                            <div class="col s6 m4 l3">
                                <div class="selectable-item">
                                    <div class="card">
                                        <div class="image-container <% if(order && order.BackgroundId == background.id ) { %>selected<% } %>" 
                                            style="background-image: url('<%= background.image %>')"></div>
                                    </div>
                                    <p>
                                        <label>
                                            <input class="with-gap primary-color" name="background" type="radio" value="<%= background.id %>" 
                                            <% if(order && order.BackgroundId == background.id ) { %>checked<% } %> />
                                            <span><%= background.name %></span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                            <% }); %>
                        </div>
                    </div>
                    <div class="card-action right-align">
                        <a href="/<%= order.hash %>" class="waves-effect waves-light-3 black-text btn-flat">Atrás</a>
                        <a class="waves-effect waves-light-3 grey lighten-3 black-text btn btn-next
                        <% if(!order || (order && !order.BackgroundId) ) { %> disabled <% } %>">Siguiente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/lib/jquery/jquery.min.js"></script>
<script src="/lib/materialize/js/materialize.min.js"></script>
<script src="/js/base.js"></script>
<script src="/js/services/orderService.js"></script>
<% if (order) { %>
<script>
    var orderId = "<%= order.hash %>";
</script>
<% } else { %>
<script>
    var orderId = 'default';
</script>
<% } %>
<script src="/js/background.js"></script>
</html>