<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flor Barrau Fotografía</title>
    <link rel="shortcut icon" type="image/png" href="/img/favicon.ico" />
    <meta name="theme-color" content="rgb(222,109,153)">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/lib/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="/lib/pace/pace-theme.css" rel="stylesheet" />
</head>

<body>
    <div class="background-header"></div>
    <div class="content">
        <div class="row">
            <div class="col s12 col m8 offset-m2">
                <div class="card card-base">
                    <div class="card-content">
                        <h5>Nuevo Pedido!</h5>
                        <p>Revisá que este todo en orden</p>
                        <div class="detail-image-container hide-on-med-and-up" style="background-image: url('<%= order.Product.image %>')"></div>
                        <div class="detail-image-container medium hide-on-large-only hide-on-small-only" style="background-image: url('<%= order.Product.image %>')"></div>
                        <div class="detail-image-container large hide-on-med-and-down" style="background-image: url('<%= order.Product.image %>')"></div>
                        <div class="row">
                            <div class="col s12">
                                <h5 class="center-align margin-bottom-0"><%= order.Product.name %></h5>
                                <p class="center-align">$<%= order.Product.price %></p>
                            </div>
                        </div>
                        <div class="file-uploader margin-bottom-0">
                            <ul class="collection">
                                <li class="collection-item avatar">
                                    <img class="circle responsive-img" src="<%= (order.Background.image && order.Background.image != '')? order.Background.image : '/img/default.jpg' %>">
                                    <span class="title"><span>Fondo</span></span>
                                    <p class="details"><span><%= order.Background.name %></span></p>
                                    <a class="secondary-content" href="#">$<%= order.Background.price %></a>
                                </li>
                                <li class="collection-item avatar">
                                    <img class="circle responsive-img" src="<%= (order.Text.Typography.image && order.Text.Typography.image != '')? order.Text.Typography.image : '/img/default.jpg' %>">
                                    <span class="title"><span>Tipografía</span></span>
                                    <div class="details">
                                        <p><%= order.Text.Typography.name %></p>
                                        <p>Texto: <%= (order.Text.value)? order.Text.value : '' %></p>
                                    </div>
                                    <span class="secondary-content">$<%= order.Text.Typography.price %></span>
                                </li>
                            </ul>
                        </div>
                        <h5 class="center-align">Total $<%= order.Product.price + order.Background.price + order.Text.Typography.price %></h5>
                        <br>
                        <div class="row">
                            <div class="col s6">
                                <ul class="collection with-header fb-collection">
                                    <li class="collection-header">
                                        <h6 class="margin-bottom-0 margin-top-0"><b>Método de Pago</b></h6>
                                    </li>
                                    <li class="collection-item center-align"><%= order.paymentMethod == 'mercadopago' ? 'MercadoPago' : 'Efectivo' %></li>
                                </ul>
                            </div>
                            <div class="col s6">
                                <ul class="collection with-header fb-collection">
                                    <li class="collection-header">
                                        <h6 class="margin-bottom-0 margin-top-0"><b>Forma de Entrega</b></h6>
                                    </li>
                                    <li class="collection-item center-align">
                                        <%= order.deliveryMethod == 'shipping' ? 'Envío' : 'Punto de Entrega' %>
                                        <%= (order.deliveryMethod == 'deliveryPoint' && order.deliveryPoint && order.deliveryPoint != '') ? `(${order.deliveryPoint})` : '' %>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <ul class="collection with-header fb-collection">
                                    <li class="collection-header">
                                        <h6 class="margin-bottom-0 margin-top-0"><b>Datos Personales</b></h6>
                                    </li>
                                    <li class="collection-item"><b>Nombre:</b> <%= order.name %></li>
                                    <li class="collection-item"><b>Apellido:</b> <%= order.surname %></li>
                                    <li class="collection-item"><b>Teléfono:</b> <%= order.cellphone %></li>
                                    <li class="collection-item"><b>Instagram:</b> <%= order.instagramUser %></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 center-align">
                                <a href="/ordersList/<%= checkoutToken %>" class="waves-effect waves-light-3 black-text btn-flat">Ir al listado de Pedidos</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-action right-align">
                        <a href="<%= order.hash %>/download" class="waves-effect waves-light-3 btn btn-primary btn-next"><i class="material-icons left">cloud_download</i>Descargar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/lib/jquery/jquery.min.js"></script>
<script src="/lib/materialize/js/materialize.min.js"></script>
<script src="/lib/pace/pace.min.js"></script>
<% if (order) { %>
<script>
    var orderId = "<%= order.hash %>";
</script>
<% } else { %>
<script>
    var orderId = 'default';
</script>
<% } %>

</html>