<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flor Barrau Fotografía</title>
    <link rel="shortcut icon" type="image/png" href="/img/favicon.ico"/>
    <meta name="theme-color" content="rgb(222,109,153)">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/lib/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="/lib/pace/pace-theme.css" rel="stylesheet" />
</head>
<body>
    <div class="background-header"></div>
    <div class="content">
        <div class="row">
            <div class="col s12 col m10 offset-m1">
                <div class="card card-base">
                    <div class="card-content">
                        <h4>Pedidos</h4>
                        <ul class="collapsible expandable z-depth-0 collection-filter margin-bottom-0">
                            <li class="active">
                                <div class="collapsible-header"><i class="material-icons">filter_list</i>Filtros</div>
                                <div class="collapsible-body">
                                    <div class="row">
                                        <% statuses.forEach(status => { %>
                                            <div class="col s6 m2">
                                                <div>
                                                    <label>
                                                        <input type="checkbox" class="filled-in status-filter" <% if(defaultStatusesActive.includes(status)) { %>checked="checked" <% } %> data-status="<%= status %>" />
                                                        <span><%= getTranslatedStatus(status) %></span>
                                                    </label>
                                                </div>
                                            </div>
                                        <% }); %>
                                    </div>
                                    <div class="row margin-bottom-0">
                                        <div class="col s12 center-align">
                                            <button class="waves-effect waves-light-3 btn btn-small btn-primary btn-filter">Filtrar</button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div id="cellphone-orders-list" class="row margin-left-0 margin-right-0">
                            <!-- dinamically loaded -->
                        </div>
                        <div class="row hide-on-small-only">
                            <div class="col s12">
                                <table id="orders-table" class="striped highlight">
                                    <thead>
                                        <tr>
                                            <th>Fecha</th>
                                            <th>Nombre y Apellido</th>
                                            <th>Producto</th>
                                            <th>Precio</th>
                                            <th class="center-align">Método de Entrega</th>
                                            <th class="center-align">Método de Pago</th>
                                            <th class="center-align">Estado</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- dinamically loaded -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<div id="order-template" class="hide">
<table>
    <tbody>
        <tr>
            <td>{{ order.formattedCreatedAt }}</td>
            <td>{{ order.clientName }}</td>
            <td>{{ order.Product.name }}</td>
            <td class="right-align">${{ order.price }}</td>
            <td class="center-align">
                {{ order.translatedDeliveryMethod }}
            </td>
            <td class="center-align">{{ order.translatedPaymentMethod }}</td>
            <td class="status-container">
                <button
                    class="waves-effect waves-light-3 btn btn-small dropdown-trigger status-dropdown-btn {{ order.status }}-status"
                    data-status="{{ order.status }}"
                    data-target='dropdown-{{ order.id }}'
                    onclick='openStatusDropdown(this)'>{{ order.translatedStatus }}</button>
                <ul id='dropdown-{{ order.id }}' class='dropdown-content status-dropdown'>
                    <% statuses.forEach(status => { %>
                        <li data-status="<%= status %>" onclick="changeOrderStatus(this)"><a><%= getTranslatedStatus(status) %></a></li>
                    <% }); %>
                </ul>
            </td>
            <td>
                <a href="/checkout/{{ checkoutToken }}/{{ order.hash }}"
                    class="waves-effect waves-light-3 black-text btn-flat"><i class="material-icons">remove_red_eye</i></a>
            </td>
        </tr>
    </tbody>
</table>
</div>

<div id="cellphone-order-template" class="hide">
    <div class="col s12 hide-on-med-and-up order-cellphone-item">
        <div class="order-item">
            <p><b>Fecha:</b> {{ order.formattedCreatedAt }}</p>
            <p><b>Nombre y Apellido:</b> {{ order.clientName }}</p>
            <p><b>Producto:</b> {{ order.Product.name }}</p>
            <p><b>Precio:</b> ${{ order.price }}</p>
            <br>
            <p><b>Método de Entrega:</b> {{ order.translatedDeliveryMethod }}</p>
            <p><b>Método de Pago:</b> {{ order.translatedPaymentMethod }}</p>
            <br>
            <div class="row margin-bottom-0">
                <div class="col s12 center-align status-container">
                    <button class="waves-effect waves-light-3 btn btn-small dropdown-trigger status-dropdown-btn {{ order.status }}-status"
                        data-status="{{ order.status }}" data-target='dropdownCellphone-{{ order.id }}'
                        onclick='openStatusDropdown(this)'>{{ order.translatedStatus }}</button>
                    <ul id='dropdownCellphone-{{ order.id }}' class='dropdown-content status-dropdown'>
                        <% statuses.forEach(status => { %>
                            <li data-status="<%= status %>" onclick="changeOrderStatus(this)"><a><%= getTranslatedStatus(status) %></a></li>
                        <% }); %>
                    </ul>
                </div>
                <div class="col s12 center-align">
                    <a href="/checkout/{{ checkoutToken }}/{{ order.hash }}" class="waves-effect waves-light-3 black-text btn-flat">Detalle</a>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/lib/jquery/jquery.min.js"></script>
<script src="/lib/mustache.js/mustache.min.js"></script>
<script src="/lib/materialize/js/materialize.min.js"></script>
<script src="/lib/pace/pace.min.js"></script>
<script src="/js/base.js"></script>
<script src="/js/services/orderService.js"></script>
<script src="/js/services/adminOrderService.js"></script>
<script>
    var checkoutToken = '<%= checkoutToken %>';
</script>
<script src="/js/ordersList.js"></script>
</html>