<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flor Barrau Fotografía</title>
    <link rel="shortcut icon" type="image/png" href="/img/favicon.ico"/>
    <meta name="theme-color" content="rgb(216, 124, 46)">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/lib/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="background-header"></div>
    <div class="content">
        <div class="row">
            <div class="col s12 col m8 offset-m2">
                <div class="card card-base">
                    <div class="card-content">
                        <h4>Nuevo Pedido</h4>
                        <p class='required'>*Obligatorio</p>
                        <br>
                        <h6>Selecciona tu Producto <span class="required">*</span></h6>
                        <div class="row">
                            <% products.forEach(function(product, productIndex){ %>
                            <div class="col s6 m4 l3">
                                <div class="selectable-item fix-height">
                                    <div class="card <% if(order && order.ProductId == product.id ) { %>selected<% } %>">
                                        <div class="image-container" 
                                            style="background-image: url('<%= product.image %>')">
                                        </div>
                                    </div>
                                    <p>
                                        <label>
                                            <input class="with-gap primary-color" name="product" type="radio" value="<%= product.id %>" 
                                            <% if(order && order.ProductId == product.id ) { %>checked <% } %>/>
                                            <span><%= product.name %> - $<%= product.price %></span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                            <% }); %>
                        </div>
                    </div>
                    <div class="card-action right-align">
                        <a class="waves-effect waves-light-3 grey lighten-3 black-text btn btn-next
                        <% if(!order || (order && !order.ProductId) ) { %> disabled <% } %>">Siguiente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/lib/jquery/jquery.min.js"></script>
<script src="/lib/materialize/js/materialize.min.js"></script>
<script src="/js/base.js"></script>
<script src="/js/services/orderService.js"></script>
<% if (order) { %> 
<script>
    var orderId = "<%= order.hash %>";
</script>
<% } else { %>
<script>
    var orderId = 'default';
</script>
<% } %>
<script src="/js/product.js"></script>
</html>