<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flor Barrau Fotografía</title>
    <link rel="stylesheet" href="/lib/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="background-header"></div>
    <div class="content">
        <div class="row">
            <div class="col m8 offset-m2">
                <div class="card">
                    <div class="card-content">
                        <h4>Nuevo Pedido</h4>
                        <p class='required'>*Obligatorio</p>
                        <br>
                        <h5>Agrega texto! (+$20)</h5>
                        <p>Podes agregar un texto personalizado y selecciona la tipografía que quieras que aparezcan en el pie de tus fotos (+$20)</p>
                        <div class="row">
                            <h6 class="col m12">Seleccioná la tipografía <span class="required">*</span></h6>
                            <% products.forEach(function(product, productIndex){ %>
                            <div class="col m3">
                                <div class="card">
                                    <div class="image-container" style="background-image: url('<%= product.img %>')">
                                    </div>
                                </div>
                                <p>
                                    <label>
                                        <input class="with-gap primary-color" name="product" type="radio" />
                                        <span><%= product.title %></span>
                                    </label>
                                </p>
                            </div>
                            <% }); %>
                        </div>
                        <div class="row">
                            <h6 class="col m12">Tu texto</h6>
                            <p class="col m12">El texto que se va a mostrar en las fotos (máximo 30 caracteres)</p>
                            <div class="input-field col m6">
                                <input placeholder="Texto" id="photoText" type="text" class="validate">
                                <label for="photoText">Tu texto</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-action right-align">
                        <a class="waves-effect waves-light-3 black-text btn-flat">Atrás</a>
                        <a class="waves-effect waves-light-3 grey lighten-3 black-text btn">Siguiente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/materialize/js/materialize.min.js"></script>
</html>