<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flor Barrau Fotografía</title>
    <link rel="shortcut icon" type="image/png" href="/img/favicon.ico" />
    <meta name="theme-color" content="rgb(222, 215, 109)">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/lib/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="/lib/pace/pace-theme.css" rel="stylesheet" />
</head>
<body>
    <%
        var textLength = (order && order.Text && order.Text.Typography.name.includes('QR')) ? 240 : 30;
    %>
    <div class="background-header"></div>
    <div class="content">
        <div class="row">
            <div class="col s12 col m8 offset-m2">
                <div class="card card-base">
                    <div class="card-content">
                        <h4>Nuevo Pedido</h4>
                        <p class='required'>*Obligatorio</p>
                        <br>
                        <h5>Agrega un pie de foto!</h5>
                        <p>Podes agregar un texto personalizado y seleccionar la tipografía o incluir un codigo QR para que aparezca en el pie de tus fotos.</p>
                        <p><b>El precio expresado es por pedido y no por foto 😉</b></p>
                        <div class="center-align">
                            <img src="/img/typography_sample2.jpg" class="sample-image-horizontal">
                        </div>
                        <h6>Seleccioná la tipografía o código QR <span class="required">*</span></h6>
                        <div class="row">
                            <% typographies.forEach(function(typography, typographyIndex){ %>
                            <div class="col s6 m4 l3">
                                <div class="selectable-item fix-height <%= typography.price <= 0 ? 'none' : '' %> <%= typography.name.includes('QR') ? 'code' : '' %>">
                                    <div class="card <% if(order && order.Text && order.Text.TypographyId == typography.id ) { %>selected<% } %>">
                                        <div class="image-container"
                                            style="background-image: url('<%= typography.image %>')"></div>
                                    </div>
                                    <p>
                                        <label>
                                            <input class="with-gap primary-color" name="typography" type="radio" value="<%= typography.id %>" 
                                            <% if(order && order.Text && order.Text.TypographyId == typography.id ) { %> checked <% } %> />
                                            <span><%= typography.name %> <% if(typography.price > 0){ %>- <span>$<%= typography.price %></span><% } %></span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                            <% }); %>
                        </div>
                        <div class="row">
                            <div class="col s12 text-message <%= (order && order.Text && order.Text.Typography.name.includes('QR')) ? 'hide' : '' %>">
                                <h6>Tu texto</h6>
                                <p>El texto que se va a mostrar en las fotos (máximo 30 caracteres)</p>
                            </div>
                            <div class="col s12 code-message <%= (order && order.Text && order.Text.Typography.name.includes('QR')) ? '' : 'hide' %>">
                                <h6>Tu enlace o texto</h6>
                                <p>Acá completá con el enlace del video, canción o mensaje secreto para que puedas ver al escanearlo</p>
                            </div>
                            <div class="input-field col s12 m8">
                                <input placeholder="Texto" id="photoText" type="text" class="validate" data-length="<%= textLength %>" maxlength="<%= textLength %>"
                                <% if(order && order.Text && order.Text.value ) { %>value="<%= order.Text.value %>"<% } %>>
                                <label for="photoText">Tu texto</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-action right-align">
                        <a href="/background/<%= order.hash %>" class="waves-effect waves-light-3 black-text btn-flat">Atrás</a>
                        <a class="waves-effect waves-light-3 grey lighten-3 black-text btn btn-next
                        <% if(!isValid) { %> disabled <% } %>">Siguiente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/lib/jquery/jquery.min.js"></script>
<script src="/lib/materialize/js/materialize.min.js"></script>
<script src="/lib/pace/pace.min.js"></script>
<script src="/js/base.js"></script>
<script src="/js/services/orderService.js"></script>
<% if (order) { %> 
<script>
    var orderId = "<%= order.hash %>";
    var textLength = <%= textLength %>;
</script>
<% } else { %>
<script>
    var orderId = 'default';
    var textLength = 30;
</script>
<% } %>
<script src="/js/typography.js"></script>
</html>